/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/dist/css/bootstrap.css';


body{
    padding:20px;
}
.isDisabled{
    opacity:0.2;
    pointer-events:none;
}